<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        
        <!-- FONT AWESOME CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    <link rel="stylesheet" href="/css/profile.css">
    <title><%= context.profileName %></title>
</head>
<body>
    
    <%- include('./partials/default-header') %>

    <div class="main-container">
        <div class="profile-img-container">
            <img src="data:<%= context.mimeType %>;base64,<%= context.profileImage.toString('base64') %>" alt="profile-image" class="profile-image" >
            <div class="university-group">
                <i class="fa-solid fa-graduation-cap" style="color: #ff8800;"></i>
                <p class="university-name">Universidade Estadual de Maringá</p>
            </div>
        </div>
        <div class="profile-desc-container">
            <p class="profile-name"><%= context.profileName %></p>
            <p class="profile-desc"><%= context.profileDesc %></p>
        </div>
    </div>
    
    <div class="middle-container">
        <div class="project-list-container">
            <div class="list-title">
                <p class="title">Exiba e gerencie seus projetos no seu perfil</p>
                <div class="add-btn">
                    <a href="/v1/profile/<%= context.id %>/projects"><p class="add-btn-text">Adicionar</p></a>
                </div>
            </div>
            
            <% if(context.data.length > 0){ %>
                <div class="project-list">
                    <% for(let i=0;  i< context.data.length; i++){ %>
                    <div class="project-container">
                        <div class="image-group">
                            <% for(let j=0; j < context.data[i].image_data.length; j++){ %>
                            <div class="project-image-carrousel">
                                <img src="data:<%= context.data[i].image_mimetype[j]%>;base64, <%= context.data[i].image_data[j].toString('base64')%>" alt="project-image" class="project-image">
                            </div>
                            <% } %>
                        </div>
                    <div class="project-description-container">
                        <p class="project-description"><%= context.data[i].project_description %></p>
                    </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</body>
</html>

