<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    
    <link rel="stylesheet" href="/css/registerUser.css">
    
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <!-- FONT AWESOME CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- JQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>
<body>
    <div class="main-header">
        <img src="/images/white-logo.png" alt="academic-logo" class="academic-logo">
        <p class="header-title">Registro de Usuário</p>
    </div>

    <div class="main-container">
        <form action="/v1/api/register/user" method="POST"class="form-data">
            <div class="name-container">
                <i class="fa-regular fa-user" style="color: #fd5c63;"></i>
                <% if (context.nameInput) { %>
                <input type="text" name="nameInput" value="<%= context.nameInput %>" class="name-ipt" placeholder="Nome" required>
                <% } else { %>
                    <input type="text" name="nameInput" class="name-ipt" placeholder="Nome" required >
                <% } %>

            </div>

            <div class="email-container">
                <i class="fa-regular fa-envelope" style="color: #fd5c63;"></i>
                <% if (context.emailInput) { %>
                <input type="email" name="emailInput" class="email-ipt" value="<%= context.emailInput %>" placeholder="Email" required>
                <% } else { %>
                    <input type="email" name="emailInput" class="email-ipt" placeholder="Email" required >  
                <% } %>

            </div>

            <div class="cpf-container">
                <i class="fa-solid fa-id-card" style="color: #fd5c63;"></i>
                <input type="text" name="cpfInput" class="cpf-ipt" placeholder="CPF" required>
            </div>

            <div class="birth-container">
                <i class="fa-regular fa-calendar-days" style="color: #fd5c63;"></i>
                <input type="date" name="birthInput" class="birth-ipt" value="2000-01-01" required>
            </div>

            <div class="university-container">
                <i class="fa-solid fa-building-columns" style="color: #fd5c63;"></i>
                <input autocomplete="off" list="universities-list" name="universityInput" class="univ-ipt" placeholder="Universidade de atividade" required>
                <datalist id="universities-list">
                    <% foundUniversities.forEach(function(univ) { %>
                    <option value="<%= univ.university_name %>">
                    <% }); %>
                </datalist>
            </div>

            <div class="state-container">
                <i class="fa-solid fa-location-arrow" style="color: #fd5c63;"></i>
                <select id="state-input" class="state-ipt state-input" name="stateInput">
                    <option value="">Selecione o Estado</option>
                    <% foundStates.map((state, idx) => { %>
                    <option value="<%= state.state_name %>"><%= state.state_name %></option>
                    <% }); %>
                </select>
            </div>

            <div class="city-container">
                <i class="fa-solid fa-location-dot" style="color: #fd5c63;"></i>
                <select id="city-list" name="cityInput" class="city-input city-ipt"> 
                    <option value="">Selecione a Cidade</option>
                </select>
            </div>
            

            <div class="user-course">
                <i class="fa-solid fa-graduation-cap" style="color: #fd5c63;"></i>
                <select id="course-list" name="userCourse" class="course-ipt" required>
                    <option value="">Selecione o Curso</option>
                </select>
            </div>

            <div class="activity-title">
                <p class="title-desc">Atividade</p>
            </div>
            <div class="activity-container">
                <div class="radio-btn">
                    <input type="radio" name="userActivity" class="radio-input" value="bolsista">
                    <label class="radio-label">Bolsista</label>
                </div>
                <div class="radio-btn">
                    <input type="radio" name="userActivity" class="radio-input" value="pesquisador">
                    <label class="radio-label">Pesquisador</label>
                </div>
                <div class="radio-btn">
                    <input type="radio" name="userActivity" class="radio-input" value="estudante">
                    <label class="radio-label">Estudante</label>
                </div>
            </div>

            <div class="activity-title">
                <p class="title-desc">Escolaridade</p>
            </div>
            <div class="activity-container">
                <div class="radio-btn">
                    <input type="radio" name="userGrade" class="radio-input" value="graduacao">
                    <label class="radio-label">Graduação</label>
                </div>
                <div class="radio-btn">
                    <input type="radio" name="userGrade" class="radio-input" value="pos-graduacao">
                    <label class="radio-label">Pós Graduação</label>
                </div>
            </div>

            <div class="submit-btn-container">
                <input type="submit" value="Continuar" class="submit-btn">
            </div>
        </form>
    </div>

    <script>
        const stateSelect = document.querySelector('.state-input');
        const citySelect = document.querySelector('.city-input');
        const univSelect = document.querySelector('.univ-ipt')
        const courseSelect = document.querySelector('.course-ipt');
        
        let baseUrl = window.location.href;
        let url = baseUrl.slice(-1) != "/" ? "/v1/api/" : 'api/';

        stateSelect.addEventListener('change', (e) => {
            $.post({
                url: url + 'city',
                data: { stateName: e.target.value },
            })
            .done(function(response){
                $("#city-list").find('option').remove();
                const option = document.createElement('option');
                option.value = "";
                option.textContent = "Selecione a Cidade";
                citySelect.appendChild(option);
                
                response.Cities.forEach((city) => {
                    const option = document.createElement('option');
                    option.value = city.city_name;
                    option.textContent = city.city_name;
                    citySelect.appendChild(option);
                });
            })
            .fail(() => {
                alert("Falha na busca, tente novamente.");
            })
        })
        
        univSelect.addEventListener('change', (e) => {
            $.post({
                url: url + 'courses',
                data: { universityName: e.target.value },
            })
            .done((resp) => {
                $("#course-list").find('option').remove();
                const option = document.createElement('option');
                option.value = "";
                option.textContent = "Selecione a Cidade";
                courseSelect.appendChild(option);
                
                resp.courses.forEach((course) => {
                    const option = document.createElement('option');
                    option.value = course.course_name;
                    option.textContent = course.course_name;
                    courseSelect.appendChild(option);
                });
            })
        })
        .fail(() => {
            alert("Falha na busca, tente novamente.");
        })
    </script>
</body>
</html>