<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="/css/search.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <!-- FONT AWESOME CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- JQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <div class="main-header">
        <div class="edit-container">
            <a href="/v1/profile/<%= context.RegisterId %>">
                <p class="edit-btn">Perfil</p>
            </a>
            </div>
        <div class="academic-logo-container">
            <img src="/images/white-logo.png" alt="academic-logo" class="academic-logo">
        </div>
        <div class="home-container">
            <a href="/v1/logout"><p class="home-btn">Desconectar</p></a>
        </div>
    </div>

    <div class="container">
        <div class="search-container">
            <form class="search-data" action="/v1/api/search" method="POST">
                <div class="name-input-container">
                    <input type="text" name="nameInput" class="name-input text-ipt" placeholder="Nome">
                </div>

                <div class="secondary-input-container">
                    <div class="input-group">
                        <input list="course-list" type="text" name="courseInput" class="curso-input text-ipt" placeholder="Curso de Formação">
                        <select name="topicInput" class="topic-input list-ipt">
                            <option value="">Selecione o Tópico de Interesse</option>
                            <% context.Topics.map((topic, idx) => { %>
                                <option value="<%= topic.topic %>"><%= topic.topic %></option>
                            <% }) %>

                        </select>
                    </div>
                    <div class="input-group">
                        <select id="graduation-list" name="gradInput" class="grad-input list-ipt" placeholder="Graduado/Pós">
                            <option value="">Selecione Graduação/Pós </option>
                            <% context.GradInfo.map((grad, idx) => { %>
                                <option value="<%= grad.grade %>"><%= grad.grade.charAt(0).toUpperCase() + grad.grade.slice(1) %></option>
                            <% }) %>
                        </select>
                        
                        <input list="university-list" autocomplete="off" type="list" name="universityInput" class="university-input list-ipt" placeholder="Universidade">
                        <datalist id="university-list">
                            <% for( univ of context.Universities ) { %>
                            <option value="<%= univ.university_name %>">
                            <% } %>
                        </datalist>
                    </div>

                    <div class="input-group">
                        <select id="state-input" name="stateInput" class="state-input list-ipt">
                            <option value="">Selecione o Estado</option>
                            <% context.States.map((st, idx) => { %>
                                <option state-id="<%= st.state_id %>" value="<%=  st.state_name %>"><%=  st.state_name %></option>
                            <% }) %>
                        </select>

                        <select id="city-list" name="cityInput" class="city-input list-ipt"> 
                            <option value="">Selecione a Cidade</option>
                        </select>
                    </div>
                </div>

                <div class="submit-btn">
                    <input type="submit" class="ipt-btn" value="Pesquisar">
                    <i class="fa-solid fa-magnifying-glass" style="color: #707070;"></i>
                </div>
            </form>
        </div>
    </div>
    <script>
        const stateSelect = document.querySelector('.state-input');
        const citySelect = document.querySelector('.city-input')

        stateSelect.addEventListener('change', (e) => {
            let url = window.location.href;
            if(url.slice(-1) != '/'){
                url = '/v1/api/city';
            }
            else{
                url = 'api/city';
            }

            $.post({
                url: url,
                data: { stateName: e.target.value },
            })
            .done(function(response){
                $("#city-list").find('option').remove();
                const option = document.createElement('option');
                option.value = "";
                option.textContent = "Selecione a Cidade";
                citySelect.appendChild(option);
                
                response.Cities.forEach((city) => {
                    const option = document.createElement('option');
                    option.value = city.city_name;
                    option.textContent = city.city_name;
                    citySelect.appendChild(option);
                });
            })
            .fail(() => {
                alert("Falha na busca, tente novamente.");
            })
        })
    </script>
</body>
</html>