<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca</title>    
    <link rel="stylesheet" href="/css/searchResults.css">
    
    <!-- FONT AWESOME CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>   
    
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
    <script src= "/utils/renderData.js"></script>
    <script src= "/utils/chatAppArrowIcon.js"></script>
    <script src= "/utils/chatAppTalk.js"></script>
    <script src="/utils/renderClientMessage.js"></script>
    <script src="/utils/renderComingMessage.js"></script>
    <script src="/utils/saveNewMessage.js"></script>
    <script src="/utils/backBtn.js"></script>
</head>
<body>
    <div class="main-header">
        <div class="home-container">
            <a href="/v1/"><p class="home-btn">Home</p></a>
        </div>
        <div class="academic-logo-container">
            <img src="/images/white-logo.png" alt="academic-logo" class="academic-logo">
        </div>
    </div>

    <div class="container">
        <% if(context.profileArray.length > 0){ %>
        <% for( profile of context.profileArray ){ %>
        <div class="profile">
            <div class="profile-image">
                <img class="found-image" src="data:<%= profile.image_mimetype %>;base64,<%= profile.image_data.toString('base64') %>" alt="found-profile-image">
            </div>
            <div class="name-desc-group">
                <div class="profile-name">
                    <a href="/v1/profile/<%= profile.register_id %>">
                        <p class="found-name"><%=  profile.name %></p>
                    </a>
                    <% if(profile.register_id != context.userId) { %>
                    <i onclick="chatAppTalk(event)" class="fa-regular fa-message data-<%= profile.register_id %> talk-icn"></i>
                    <% } %>
                </div>
    
                <div class="profile-description">
                    <p class="found-desc"><%= profile.description %></p>
                </div>
            </div>
        </div>
        <% } %>
        <% } else { %>
            <div class="not-found-container">
                <div class="not-found">
                    <p class="not-found-text">Nada encontrado.</p>
                </div>
                <div class="back-btn">
                    <a href="/v1/"><p class="back">Voltar</p></a>
                </div>
            </div>
        <% } %>
        <% if(context.profileArray.length > 0){ %>
        <div class="footer-container">
            <% for( idx of context.pages_idx) { %>
            <div class="page-idx-container">
                <a class="page-index"><p class="idx"><%= idx %></p></a>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
    <div class="chat-container-visible" id="chat-container">
        <div class="chat-username-container">
            <p class="username"><%= context.UserName %></p>
            <i class="fa-solid fa-up-down" onclick="chatAppArrowIcon()" style="color: #ffffff;"></i>        </div>

        <div class="contacts">
            <div class="contacts-group-title">
                <p class="ctt-title">Conversas Iniciadas</p>
            </div>

            <div class="users-container">
                <% for(user of context.messagesUser){ %>
                <div class="contact-group">
                    <div class="contact-name-group">
                            <p class="contact-name" d-msg=<%= user.message_id %>><%= user.message_username %></p>
                    </div>
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <script>
        const maxHeith = 35;
        const userId = Number("<%= context.userId %>");
        const UserNameSocketIO = "<%= context.UserName %>"
        let visible = false;

        const arrowDown = document.querySelector('.fa-up-down');
        const ChatContainer = document.querySelector('.chat-container-visible');
        const username = document.querySelectorAll('.contact-name');

        username.forEach((user) => {
            user.addEventListener("click", (e) => {
                const idx = e.target.getAttribute('d-msg');
                renderData(e, idx);
            })
        })

        let socket = null;
        const initSocket = () => {
            if(!socket){
                socket = io({
                    upgrade: false, 
                    transports: ['websocket'],
                    query: {
                        registerId: userId,
                        Username: UserNameSocketIO
                    }
                });
            }
        }

        document.addEventListener("DOMContentLoaded", (event) => {  
        const url = new URL(window.location.href);
        const current_page = "<%= context.current_page %>";
        const idx_page = document.querySelectorAll('.page-index');
        const idx_container = document.querySelectorAll('.page-idx-container');
        
        initSocket();

        idx_container.forEach((container) => {
            if(container.children[0].innerText == current_page){
                container.className += " active-page";
            }
        })

        idx_page.forEach(idx => {
            idx.addEventListener('click', (e) => {
                e.preventDefault();
                const num = e.target.innerText; //Pg. a ser redirecionado
                url.searchParams.set('page', num); //Insere o parâmetro page=num na URL
                window.location.href = url.toString(); //Faz o redirect para a nova URL
            });
        });
    });
    </script>
</body>
</html>